<div class="project athi-river-well">
  <div class="wrapper">
    <div class="content-frame">

      <h3>Athi River Well</h3>

      <p>
        In 2014 the Athi River was facing and extreme drought due to pollution in the region.
      </p>

      <p>
        The people of Kinani where Hope Ministries operates a prayer center were suffering from the lack of easily available water that they relied on for their day to day needs.
      </p>

      <p>
        Hope Ministries funded a well at the Athi River to serve the people of Kinani.
      </p>

      <img class="supporting-image" src="/assets/images/projects-athi-river-well-drilling.jpg" width="300" />

      <img class="supporting-image" src="/assets/images/projects-athi-river-kids.jpg" width="300" />

    </div>
  </div>
</div>
