<div class="project prayer-center">
  <div class="wrapper">

    <div class="content-frame">

      <h3>Prayer Center</h3>

      <div class="copy">
        <p>
          Starting with a vision in 1999 for a facility that could host people from many different church backgrounds for retreats that would spiritually revitalize and create unity and renewal, Hope Ministries trusted God in faith and started raising funds to construct the Prayer Center in the village Kinani, next to the church that was planted there.
        </p>

        <p>
          Breaking of ground happened in 2002, and completed 16 years later, the Prayer Center opened it's doors in 2018 after many years of faithful labor on this project.
        </p>

        <p>
          The prayer center now hosts several hundred people each year as a sacred space for reflection, prayer, and communion with others in community together who come from all over Kenya and surrounding nations such as Malawi, Sudan, Ethiopia, Tanzania, and Uganda.</p>

        <p>
          Watch the muscial trio Wazee Wetu perform their hit song Mukebe from the Prayer Ceter in Kinani.
        </p>
      </div>

      {%- include prayer-center-wazee-wetu.html -%}

    </div>
  </div>
  <div class="project-img"></div>
</div>
