<div class="project athi-river-well">
  <div class="wrapper">

    <h3>Prayer Center</h3>

    <p>
      Starting with a vision in 1995 for a facility that could host people from many different church backgrounds for retreats that would spiritually revitalize and create unity and renewal, Hope Ministries trusted God in faith and started raising funds to construct the Prayer Center in the village Kinani, next to the church that was planted there.
    </p>

    <p>
      Completed XX years later, the Prayer Center opened it's doors in 201X after many years of faithful labor on this project.
    </p>

    <p>
      The prayer center now hosts many [number needed] people each year as a sacred space for reflection, prayer, and communion with others in community together.</p>

    <p>
      Watch the muscial trio Wazee Wetu perform their hit song Mukebe from the Prayer Ceter in Kinani.
    </p>

    {%- include prayer-center-wazee-wetu.html -%}

  </div>
</div>
