<div class="project schools">
  <div class="wrapper">
    <div class="content-frame">
      <h3>Schools</h3>

      <div class="copy">
        <p>
          Hope Ministries operates schools for children living in the ghettos around Home Ministries facilities in Kariobangi South and the village of Kinani.
        </p>

        <p>
          These schools provide a daytime education program that helps prepare these children for later schooling, and helps community parents by caring for the children during critical working hours.
        </p>
      </div>

      <div class="images">
        <img class="supporting-image" src="/assets/images/projects-schools-kids-1.jpg" width="300" />

        <img class="supporting-image" src="/assets/images/projects-schools-kids-2.jpg" width="300" />

        <img class="supporting-image" src="/assets/images/projects-schools-kids-3.jpg" width="300" />

        <img class="supporting-image" src="/assets/images/projects-schools-kids-4.jpg" width="300" />

        <img class="supporting-image" src="/assets/images/projects-schools-kids-5.jpg" width="300" />

        <img class="supporting-image" src="/assets/images/projects-schools-kids-6.jpg" width="300" />
      </div>
    </div>
  </div>
  <div class="project-img"></div>
</div>
