<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col one-half">
      <!--h2 class="footer-heading">Hope Ministries International</h2-->
        <ul class="contact-list">
          <li>Mail your contributions to:</li>
          <li class="footer-address">Hope Ministries International</li>
          <li class="footer-address">854 9th Avenue</li>
          <li class="footer-address">Brackenridge, PA 15014</li>
          <li><br></li>
          <li>Reach us via email:</li>
          <li>
            {%- if site.email -%} <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>{%- endif -%}
          </li>
        </ul>
      </div>

      <div class="footer-col one-half">
        <p>Hope Ministries International is a US registered 501(c)3 nonprofit organization serving those in need in Nairobi, Kenya. Your donations are tax deductible in full or in part.</p>
      </div>
    </div>

  </div>

</footer>
