h1, h2, h3, h4, h5, h6 {
  color: $brown;
  font-family: "Open Sans";
  font-weight: 700;
  letter-spacing: -.02em;
}

.btn {
  color: white;
  background-color: $green;
  padding: 6px 12px;
  border-radius: 5px;
  transition: background-color 50ms ease-in;

  &:hover {
    color: white;
    text-decoration: none;
    background-color: $green-drk;
  }
}

.site-logo {
  padding: 10px 0;
  display: block;
}

.site-nav {
  margin-top: 3px;
}
