h1, h2, h3, h4, h5, h6 {
  color: $brown;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  letter-spacing: -.02em;
}

.btn {
  color: white;
  background-color: $green;
  padding: 6px 12px;
  border-radius: 5px;
  transition: background-color 50ms ease-in;

  &:hover {
    color: white;
    text-decoration: none;
    background-color: $green-drk;
  }

  &:visited {
    color: white;
  }

  &.btn-large {
    font-size: 22px;
    padding: 12px 24px;
  }
}

.site-logo {
  padding: 10px 0;
  display: block;
}

.site-nav {
  margin-top: 3px;
}

// featured content for home page

.featured-content {
  min-height: 480px;
  background-color: $tan;
  overflow: hidden;
  margin-top: -30px;
  margin-bottom: 30px;
  background-image: url(/assets/images/featured-img-kinani-kids.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: contain;

  .content-frame {
    width: 320px;
    float: left;
    margin: 48px 0;
  }

  .page-headline {
    font-size: 56px;
    color: $brown-drk;
    line-height: 1.1;
    margin: 25px 0;
  }

  .subhead {
    margin-bottom: 30px;
  }

  @media screen and (max-width: $on-medium) {
    background-image: url(/assets/images/featured-img-kinani-kids-mobile.jpg);

    .content-frame {
      float: none;
      width: 100%;
      margin-top: 300px;
    }
  }

  @media screen and (max-width: 410px) {

    .content-frame {
      margin-top: 240px;
    }
  }
}

// footer

 .footer-address {
   color: $brown-drk;
 }
