<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">

      <div class="featured-content">
        <div class="wrapper">
          <div class="content-frame">
            <h1 class="page-headline">Touch a life in Africa.</h1>
            <p class="subhead">
              Join us in bringing hope to families in Kenya by partnering with HOPE Ministries today to provide schooling to children in Kariobangi South.
            </p>
            <a href="https://charity.gofundme.com/o/en/donate-widget/3390" class="btn btn-large" role="button">Donate</a>
          </div>
        </div>
      </div>

      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
