<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">

      {%- include home/featured-content.html -%}

      {%- include home/projects.html -%}

      {%- include home/projects/schools.html -%}

      {%- include home/projects/athi-river-well.html -%}

      {%- include home/projects/prayer-center.html -%}

      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
